.header {
  padding-top: 96px;
  padding-bottom: 77px;
  background-color: var(--white);
  border-bottom: 1px dotted var(--grey-3);
}

.header__title {
  font-family: var(--ff-secondary);
  font-weight: 500;
  font-size: 50px;
  margin: 0;
  line-height: 64px;
  color: var(--black);
}