* {
  margin: 0;
  color: #fff;
}

header {
  background-color: #f00;
  font-size: 1.5rem;
  line-height: 1.25;
  text-align: center;
}

nav {
  background-color: #FF9900;
  padding-top: 12px;
  padding-bottom: 10px;
}

header nav a {
  margin-right: 10px;
}

main {
  background-color: #05A142;
  border: 1px solid #05A142; 
}

article {
  background-color: #0429F2;
  margin: 10px 10px 6px 10px;
  padding-top: 36px;
  padding-left: 12px;
}

article:last-child {
  margin-top: 2px;
  margin-bottom: 16px;
}

article h2 {
  font-size: 1.6rem;
  line-height: 1.28;
  padding-bottom: 22px;
}

article ul, ol {
  font-size: 1.10rem;
  padding-bottom: 32px;
}

article ul li{
  line-height: 1.2;
  letter-spacing: 0.03em;
}

footer {
  background-color: #BC00FF;
  text-align: center;
  font-size: 3.2rem;
  
}
