/* Стилизация аккордеона */
.accordion {
  max-width: 730px;
  border: 1px solid var(--border-dark);
  border-radius: 8px;
  padding: 24px 32px;

  font-size: 16px;
  line-height: 24px;
}

.accordion__title {
  display: block;
  font-family: var(--ff-secondary);
  display: flex;
  justify-content: space-between;
}

.accordion__title::-webkit-details-marker {
  display: none;
}

.accordion__text {
  font-family: var(--ff-secondary);
}

.accordion[open] .accordion__icon {
  transform: rotate(180deg);
  transition: rotate 1.2s ease-out;
}

.accordion__icon {
  transition: rotate 1.2s ease-out;
}

.accordion[open] .accordion__title ~ * {
  animation: sweep .5s ease-in-out;
}

@keyframes sweep {
  0%    {opacity: 0; margin-left: -10px}
  100%  {opacity: 1; margin-left: 0px}
}