.input {
  display: flex;
  flex-direction: column;
}

.input__label, .input__status {
  font-family: var(--ff-secondary);
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--grey-3);
}

.input__status {
  font-weight: 400;
  font-size: 8px;
  line-height: 14px;
}

.input__block {
  display: flex;
  position: relative;
}

.input__control {
  width: 200px;
  padding: 16px 54px 14px 26px;
  background: var(--white);
  border: 1px solid var(--grey-2);
  border-radius: 8px;
  box-sizing: border-box;

  font-family: var(--ff-secondary);
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  color: var(--grey-4);

  @media (min-width: 281px) {
    width: 240px;
  }

  @media (min-width: 321px) {
    width: 290px;
  }

  @media (min-width: 376px) {
    width: 351px;
  }
}

.input__control::placeholder {
  color: var(--grey-2);
}

.input:not(.input_success) > .input__block .input__control:focus,
.input:not(.input_invalid) > .input__block .input__control:focus {
  border: 1px solid var(--primary);
  box-shadow: var(--box-shadow-input-focus);
  outline: none;
}

.input__icon {
  position: absolute;
  top: 17px;
  right: 18px;
  width: 24px;
  height: 24px;
}

.input_success > .input__status,
.input_success > .input__block .input__icon {
  color: var(--success);
}

.input_invalid > .input__status,
.input_invalid > .input__block .input__icon {
  color: var(--error);
}

.input_success > .input__block .input__control {
  box-shadow: var(--box-shadow-input-success);
  border-color: var(--success);
}
.input_invalid > .input__block .input__control {
  box-shadow: var(--box-shadow-input-error);
  border-color: var(--error);
}
