.skeleton {
  display: flex;
  flex-direction: column;
  gap: 24px;

  max-width: 576px;
  height: 192px;
  padding: 24px 24px 32px;

  border: 1px solid var(--grey-3);
  border-radius: 8px;

  background: var(--white);
}

.skeleton__top {
  display: flex;
  align-items: center;
  gap: 16px;
}

.skeleton__down {
  display: flex;
  flex-direction: column;
}

.skeleton__circle {
  flex-shrink: 0;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: var(--grey-2);
}

.skeleton__lines {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.skeleton__line {
  height: 20px;
  background: var(--skeleton-gradient);
}

.skeleton__line_40pr {
  width: 40%;
}

.skeleton__line_60pr {
  width: 60%;
}

.skeleton__line_100pr {
  width: 100%;
}