.page {
  display: flex;
  flex-direction: column; 
}

.page__box {
  max-width: 304px;
  width: 100%;
  margin: 0 auto;
}

.page_component {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
    "header"
    "main"
    "footer";
  row-gap: 0;
  height: 100%;
  background-color: var(--page-component-bg);
}

.page__header {
  grid-area: header;
}

.page__main {
  grid-area: main;
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 56px;
  justify-content: center;
  justify-self: center;
  background-color: var(--white);
}

.page__footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: var(--page-component-bg);
}

.page__footer-title {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: var(--ff-secondary);
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--grey-3);
}

@media (min-width: 356px) {
  .page__box {
    max-width: 90%;
  }
}

@media (min-width: 768px) {
  .page__box {
    max-width: 1110px;
    width: 96%;
  }

  .page_component {
    grid-template-areas: 
      "header header header"
      "main main main"
      "footer footer footer";
    row-gap: 36px;
  }
  
  .page__footer-title {
    padding-bottom: 56px;
  }
}
